<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css">
</head>
<body>
	<div id="app">
		<input class="input is-info" type="" v-model="firstname" placeholder="First name">
		<input class="input is-info" type="" v-model="lastname" placeholder="Last name">
		<p>nafnið er: {{firstname}} {{lastname}}</p>
	</div>

	<script src="https://unpkg.com/vue"></script>
	<script type="text/javascript">
		var app = new Vue ({
			el: "#app",
			data: {
				firstname: "",
				lastname: ""
			}
		});
	</script>
</body>
</html>